<div class="container">

  <div class="row justify-content-center">
    <div class="col-6">
      <%= simple_form_for(@equipment, url: equipments_path) do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :category %>
        <%= f.input :location %>
        <%#=f.input :photo, as: :file  %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>

</div>
