<div class="container" id="show-page-container">

  <div class="show-wrapper">

    <%= link_to equipments_path, class: "back-container" do %>
      <i class="fa-solid fa-arrow-left"></i>
      <p>Back to equipments</p>
    <% end %>

    <div class="card-product">
      <div class="row">
        <div class="col-6 p-0">
          <div class="show_photo">
            <div id="carouselExampleIndicators" class="carousel slide d-flex" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner ">
                <% @equipment.photos.each_with_index do |photo, index| %>
                  <div class="w-100 carousel-item<%= index == 0 ? " active" : "" %>">
                    <%= cl_image_tag photo.key, class: "d-block w-100", alt: index + 1 %>
                  </div>
                <% end %>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>

        <div class="col-6 p-0">
          <div class="card-product-infos">
            <h2><%=@equipment.name.capitalize%></h2>
            <h4>Tags</h4>
            <h1>$<%=@equipment.price%></h1>
            <p><%= @equipment.description %></p>
            <div class="d-flex justify-content-center">
              <button>Rent Now</button>
              <button>Enquire</button>
            </div>
          </div>
        </div>

      </div>


    </div>
  </div>
</div>
