<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top" data-controller="navbar" data-action="scroll@window->navbar#updateNavbar">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "quipment.png", class: "quipment-logo" %>
    <% end %>
    <%# <p><span data-controller="typed-js"></span></p> %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto">
          <% if user_signed_in? %>
            <li class="nav-item active">
              <%= link_to "List Your Equipment", new_equipment_path, class:"btn" %>
            </li>
            <li class="nav-item active">
              <%= link_to "All Equipments", equipments_path, class:"btn" %>
            </li>
            <li class="nav-item active">
              <%= link_to "Dashboard", dashboard_path, class:"btn text-secondary" %>
            </li>
            <li class="nav-item dropdown">
              <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://media.istockphoto.com/vectors/missing-image-of-a-person-placeholder-vector-id1288129985?k=20&m=1288129985&s=612x612&w=0&h=OHfZHfKj0oqIDMl5f_oRqH13MHiB63nUmySYILbWbjE=" />
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= button_to "logout", destroy_user_session_path, method: :delete  %>
              </div>
            </li>
          <% else %>
            <%# <button class="reg" id="signup">Sign up</button> %>
            <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
          <% end %>
      </ul>
    </div>
  </div>
</div>
