<div class="container" style="margin-top: 10px;">
  <div class="row">
    <ul class="nav nav-pills justify-content-center mb-5">
      <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="pill" href="#pending">Bookings for my equipment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="pill" href="#bookings">My Bookings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="pill" href="#equipment">My Equipment</a>
      </li>
    </ul>
  </div>

  <div class="tab-content">


    <div class="tab-pane container active" id="pending">
      <div class="dashboard-container pt-3">
        <% @equipments.each do |equipment| %>
          <% @all_bookings.each do |booking| %>
            <% if booking.equipment == equipment %>

              <div class="bg-white booking-card">
                <%= cl_image_tag booking.equipment.photos.first.key %>
                <h2 class="text-center"><%= booking.equipment.name.capitalize %></h2>
                <i class="fa-solid fa-calendar fs-4"></i>
                <p><%= booking.start_date.strftime("%b. %d") %> - <%= booking.end_date.strftime("%b. %d") %><p>
                <div class="badge bg-<%= booking.status %>"><%= booking.status %></div>

                <% if booking.pending? %>
                  <div class="justify-content-around buttons-container">
                    <%= link_to booking_path(booking, decision: "Accepted"), data: { turbo_method: :patch }, class: "text-center" do %>
                      <i class="fa-solid fa-check text-success fs-2"></i>
                    <% end %>

                    <%= link_to booking_path(booking, decision: "Rejected"), data: { turbo_method: :patch }, class: "text-center" do %>
                      <i class="fa-solid fa-x text-danger fs-2"></i>
                    <% end %>
                  </div>
                <% end %>

              </div>

            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>


    <div class="tab-pane container fade" id="bookings">
      <div class="row justify-content-center">
        <div class="col">
          <div class="dashboard-container pt-3">
            <% @bookings.each do |booking| %>
              <%= link_to equipment_path(booking.equipment), class: "dashboard-card" do %>
                <%= cl_image_tag booking.equipment.photos.first.key, class: "d-block w-100", alt: booking.equipment.name %>
                <div class="dashboard-card-infos">
                  <h2><%= booking.equipment.name.capitalize%></h2>
                  <i class="fa-solid fa-calendar fs-4"></i>
                  <p><%= booking.start_date.strftime("%b. %d") %> - <%= booking.end_date.strftime("%b. %d") %></p>
                  <div class="badge bg-<%= booking.status %>"><%= booking.status %></div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>


    <div class="tab-pane container fade" id="equipment">
      <div class="dashboard-container pt-3">
        <% @equipments.each do |equipment| %>
          <%= link_to equipment_path(equipment), class: "card-trip" do %>
              <%= cl_image_tag equipment.photos.first.key, class: "d-block w-100", alt: equipment.name %>
            <div class="card-trip-infos">
              <div>
                <h2><%= equipment.name.capitalize%></h2>
                <p><%= equipment.description%></p>
              </div>
              <h2 class="card-trip-pricing">$<%= equipment.price %></h2>
            </div>
          <% end %>
        <% end %>
        <%= link_to "+", new_equipment_path, class: "card-new" %>
      </div>
    </div>


  </div>
</div>
